{% extends 'main.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Left Sidebar -->
    <div class="col-lg-3">
      <div class="sticky-top">{% include 'base/topics_component.html' %}</div>
    </div>

    <!-- Main Content -->
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Home</h1>

      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5>{{ room_count }} rooms available</h5>
            <a href="{% url 'create-room' %}" class="btn btn-primary"
              >Create Room</a
            >
          </div>
        </div>
      </div>

      <div class="list-group">{% include 'base/feed_component.html' %}</div>
    </div>

    <!-- Right Sidebar -->
    <div class="col-lg-3">
      <div class="sticky-top">{% include 'base/activity_component.html' %}</div>
    </div>
  </div>
</div>
{% endblock %}
