{% extends 'main.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header">
          <h1 class="text-center font-weight-light my-4">
            {{ user.username }}
          </h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="sticky-top">
                {% include 'base/topics_component.html' %}
              </div>
            </div>
            <div class="col-md-8">
              <div class="list-group mb-4">
                {% include 'base/feed_component.html' %}
              </div>
              <div class="recent-activity">
                {% include 'base/activity_component.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
